<%- include('header'); -%>
   <div class="container px-4 py-5">
      <h1 class="box" id="heading"><%=listTitle %></h1> 
      <div class="box">
         <!--Pass the data back from the input form to server back to web page-->
         <% for (var i=0; i < newListItems.length; i++) { %>
            <div class="item">
              <input type="checkbox">
                <p> <%= newListItems[i] %></p>
            </div>
          <% } %>

          <form class="row g-3 item" action="/" method="post">
            <div class="col-auto">
               <input class="form-control" name="newItem" type="text" placeholder="New Item" autocomplete="off" />
            </div>
          <div class="col-auto">
            <button class="button" type="submit" name="list" value=<%=listTitle %>>+</button>
          </div> 
         </form>
      </div>
   </div>
<%- include('footer'); -%>